{% extends 'layout.html.twig' %}

{% display_theme _self %}

{% block menu %}
    <h6>Menu:</h6>

    <nav class="class4">
        <ul class="class5">
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
        </ul>
    </nav>
{% endblock %}
