<html>
    <head>
        <title>{% block title '' %}</title>
        {% block meta '' %}
        {% block css %}
            <style type="text/css" src="/css/styles.css"></style>
        {% endblock %}
    </head>
    <body>
        Navigation
        Fil d'arrianne
        {% block body '' %}
        {% block javascripts '' %}
    </body>
</html>
